*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Poppins", serif;
}


body::-webkit-scrollbar{
    display: none;
}


.slider{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
    
}



.slider-img{

   display: flex;
    transition: 2s;
}

.slider-img .s1{
    width: 100vw;
    height: 35vw;
}


.slider-left-button{
    font-size: 10vw;
}

.slider-left-button i{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-right-button{
    font-size: 10vw;
}

.slider-right-button i{
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 1;
}

.slider__content{
    position: absolute;
   top: 20%; 
   text-align: center;
   color: white;
   width: 100%;
}

.slider__content h1{
   font-size : 5vw;
}

.slider__content h4{
    font-size: 2vw;
}

.slider-content-button{
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;

}

.brand{
             align-items: center;
            
}

.arrivel__1{
    position: relative;
}

.arrivel__1 button{
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 18%;
    
    
}

.wanted{
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-left: 30px;
    margin-top: 20px;
    position: relative;
}

.wanted::-webkit-scrollbar{
    width: 0;
}

.wanted-item p{
    background-color: red;
    padding-left: 8px;
    width: 50px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 88%;
    margin-left: 5px;
    margin-top: 5px;
    
}

.wanted .wanted-item{
    min-width: 220px;
    height: 285px;
    line-height: 30px;  
}

.limit-offer{
    background-color: black;
    padding: 10px;
    position: relative;
}

.limit-offer-content{

    position: absolute;
    right: 5%;
    margin-top: 30px;

}

.limit-offer-content button{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
}


