*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Poppins", serif;
}


body::-webkit-scrollbar{
    display: none;
}


.slider{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
    
}



.slider-img{

   display: flex;
    transition: 2s;
}

.slider-img .s1{
    width: 100vw;
    height: 35vw;
}


.slider-left-button{
    font-size: 10vw;
}

.slider-left-button i{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-right-button{
    font-size: 10vw;
}

.slider-right-button i{
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 1;
}

.slider__content{
    position: absolute;
   top: 20%; 
   text-align: center;
   color: white;
   width: 100%;
}

.slider__content h1{
   font-size : 5vw;
}

.slider__content h4{
    font-size: 2vw;
}

.slider-content-button{
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;

}

.brand{
             align-items: center;
            
}

.arrival__1{
    position: relative;
}

.arrival__1 button{
    position: absolute;
    top: 50%;
    left: 18%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
    
}

