*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Poppins", serif;
}


body::-webkit-scrollbar{
    display: none;
}


.slider{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
    
}



.slider-img{

   display: flex;
    transition: 2s;
}

.s1{
    width: 100vw;
    height: 35vw;
}


.slider-left-button{
    font-size: 10vw;
}

.slider-left-button i{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-right-button{
    font-size: 10vw;
}

.slider-right-button i{
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 1;
}

.slider__content{
    position: absolute;
   top: 20%; 
   text-align: center;
   color: white;
   width: 100%;
}

.slider__content h1{
   font-size : 5vw;
}

.slider__content h4{
    font-size: 2vw;
}

.slider-content-button{
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;

}

.brand{
             align-items: center;
            
}

.arrivel__1{
    position: relative;
}

.arrivel__1 button{
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 18%;
    
    
}

.wanted{
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-left: 30px;
    margin-top: 20px;
    position: relative;
}

.wanted::-webkit-scrollbar{
    width: 0;
}

.wanted-item p{
    background-color: red;
    padding-left: 8px;
    width: 50px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 88%;
    margin-left: 5px;
    margin-top: 5px;
    
}

.wanted .wanted-item{
    min-width: 220px;
    height: 285px;
    line-height: 30px;  
}

.limit-offer{
    display: flex;
    justify-content: center;
    
    align-items: center;
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 20px;
    font-size: 2vw;
}

.limit-offer-img{
    width: 100%;
    height: 100%;
}


.limit-offer-content{

   padding: 5%;

}

.limit-offer-content button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
}


.letter button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.letter input{
    
}

.footer{
    position: relative;
}



.footer-icon{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.subtitle-c{
    margin-top: 10px;
    margin-right: 2px;
}

.vertical-line{
    border: none;
    border-left: 3px solid #1D232C; /* Adjust color and width as needed */
    height: 100%; /* Adjust height as needed */
    margin: 0 20px; /* Adjust margin as needed */
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 80%;
}

.product-list{
    margin-left: 400px;
}

.product-search{
    width: 100%;
    display: flex;
    border: black 2px solid;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}


.product-search input{
    width: 100%;
    border: none;
    background-color: transparent;
}

.product-search input:focus{
    outline: none;
}




@media screen and (max-width: 764px)
{
    .off-bar{
        margin: 0;
        padding: 2px;
        font-size: 10px;
    }

    body{
        position: relative;
    }

    .slider__content{
        font-size: 10px;
    }

    .brand .brand__img{
        width: 5vw;    
    }
    .brand__img h1{
        font-size: 8px;
    }


    .text-content{
    }

    .text-1{
        font-size: 8px;
    }

    .text-2{
        font-size: 8px;
    }

    .limit-offer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 2vw;
      
    }


    .limit-offer-img{
        width: 100%;
        height: 100%;
    }

     .limit-offer-content{
       padding: 5%;
       font-size: 2vw;
      
    } 

    .limit-offer-content button{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2.5%;
        padding-bottom:2.5% ;
        margin-top: 10px;
        font-size: 1.5vw;
        border-radius: 10px;
        border: none;
    }

    .letter{
        padding: 10px;
    }

    .letter h1 {
        font-size: 5vw;
    }

    .letter p{
        font-size: 10px;
    }

    .letter button{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

    .footer__content{
        font-size: 10px;
    }
    
}









    


